div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.main_component {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

span {
    padding: 5px;
}

mat-form-field {
    width: 100%;  
    max-width: 500px; 
    margin: 10px auto;  
}

@media (min-width: 600px) {
    mat-form-field {
        width: 80%;  
    }
}

@media (min-width: 992px) {
    mat-form-field {
        width: 50%;  
    }
}

button {
    margin: 10px 0;  
    width: auto;  
}
