<div *ngIf="loading" class="loading-indicator">
    <mat-spinner></mat-spinner>
  </div>
  
  <div class="main_component">
    <h1>Welcome to my homepage!</h1>
  
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']">Email is required</mat-error>
        <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['email']">Please enter a valid email</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Password:</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']">Password is required</mat-error>
        <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['minlength']">
          Password must be at least 6 characters long
        </mat-error>
      </mat-form-field>
  
      <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || loading">Login</button>
        <button mat-raised-button color="primary" routerLink="/register">Register</button>
      </div>
    </form>
  </div>
  