/* Styles for anchor tags, ensuring they are visibly different when hovered or clicked */
a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray; /* Lighter gray color on hover for better visibility */
}

/* Flexbox layout for navigation items with appropriate spacing and styling */
.navigation-items {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Hide navigation items on small screens to prioritize space */
@media screen and (max-width: 576px) {
  .navigation-items {
      display: none;
  }
}

/* Fixed width for mat-sidenav to ensure consistent sizing */
mat-sidenav {
  width: 250px;
}

/* Styling for the navigation wrapper to properly align items and manage spacing */
.navigation-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-left: 10px;
}

/* Hide hamburger menu icon on wider screens where the side navigation is always visible */
@media screen and (min-width: 576px) {
  .hamburger-menu-wrapper {
      display: none;
  }
}
